html {
  height: 100vh;

}

body {
  height: 100%;


}

.grid-container {
  display: grid;
  grid:  'header header header header'
         'menu main main main'
         'menu main main main'
         'footer footer footer footer';
  grid-gap: .25em;
  grid-template-rows: 10% 40% 40% 10%;
  height: 100%;
  width: 100%;

  //background-color: #ff0000;

}

.grid-container > div {
  //background-color: #00ff00;
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding:0;
  border:0;
}

#header {
  grid-area: header;


}
#menu {
  grid-area: menu;


}
#main {
  grid-area: main;

}
#footer {
  grid-area: footer;

 
}

#footer > p {
  text-align:top;
  margin:0;
  
}